@import "screen.css";

[data-type~="HTMLPasswordStrengthElement"],
[data-type~="HTMLAdvancedPasswordStrengthElement"],
[data-login-role~="forgotten"],
[data-login-role~="language-select"] {
	float:right;
}

[data-login-role~="forgotten"] {
	font-family:OpenSansRegular,Arial,Helvetica,sans-serif;
}

[data-login-role~="password-label"],
[data-login-role~="email-label"] {
	float:left;
}

[data-type="HTMLPageElement"] {
	width:500px;
	margin:100px auto 0;
}

[data-type~="HTMLBrandIconElement"] {
	margin:0 auto 20px;
}

[data-type~="HTMLPaneHeadElement"] {
	text-align:center;
	font-size:16px;
	margin-bottom:30px;
}

[data-type~="HTMLLinearFormElement"] {
	margin-bottom:20px;
}

[data-type~="HTMLCustomInputElement"] {
	font-size:16px;
}