[data-type~="HTMLFundingDialogElement"] {
	width:600px;
}

[data-type~="HTMLFundingDialogElement"] [data-role="funding-head"] {
	font-size:14px;
	margin-bottom:20px;
}

[data-type~="HTMLFundingDialogElement"] [data-role="funding-body"] {
	font-size:12px;
}

[data-type~="HTMLFundingDialogElement"] [data-role="funding-foot"] {
	font-style:italic;
}

[data-type~="HTMLFundingDialogElement"] [data-role="funding-account-details"] {
	width:100%;
	margin-top:20px;
}

[data-type~="HTMLFundingDialogElement"] [data-role="funding-account-details"] [data-table-column-id="1"] {
	font-family:OpenSansBold, Arial, Helvetica, sans-serif;
}

[data-type~="HTMLFundingDialogElement"] [data-role="funding-account-details"] th {
	text-align:left;
}

[data-type~="HTMLFundingDialogElement"] [data-role="funding-account-details"] th,
[data-type~="HTMLFundingDialogElement"] [data-role="funding-account-details"] td {
	padding:2px;
}
