[data-type~="HTMLPasswordStrengthElement"] [data-type~="HTMLColumnElement"] {
	width:40px;
	height:10px;
	background-color:#D6D6D6;
	margin-left:5px;
}

[data-type~="HTMLPasswordStrengthElement"][data-strength="4"] [data-column-id="0"],
[data-type~="HTMLPasswordStrengthElement"][data-strength="3"] [data-column-id="0"],
[data-type~="HTMLPasswordStrengthElement"][data-strength="2"] [data-column-id="0"],
[data-type~="HTMLPasswordStrengthElement"][data-strength="1"] [data-column-id="0"],
[data-type~="HTMLPasswordStrengthElement"][data-strength="0"] [data-column-id="0"] {
	background-color:#D83E3E;
}

[data-type~="HTMLPasswordStrengthElement"][data-strength="4"] [data-column-id="1"],
[data-type~="HTMLPasswordStrengthElement"][data-strength="3"] [data-column-id="1"],
[data-type~="HTMLPasswordStrengthElement"][data-strength="2"] [data-column-id="1"] {
	background-color:#ED9B40;
}

[data-type~="HTMLPasswordStrengthElement"][data-strength="4"] [data-column-id="2"],
[data-type~="HTMLPasswordStrengthElement"][data-strength="3"] [data-column-id="2"] {
	background-color:#20AF20;
}