[data-type~="HTMLAdvancedPasswordStrengthElement"] [data-type~="HTMLColumnElement"] {
	width:40px;
	background-color:#D6D6D6;
	margin-left:5px;
	text-align:center;
	cursor:default;
}

[data-type~="HTMLAdvancedPasswordStrengthElement"][data-length="true"] [data-column-id="0"],
[data-type~="HTMLAdvancedPasswordStrengthElement"][data-lowercase="true"] [data-column-id="1"],
[data-type~="HTMLAdvancedPasswordStrengthElement"][data-uppercase="true"] [data-column-id="2"],
[data-type~="HTMLAdvancedPasswordStrengthElement"][data-number="true"] [data-column-id="3"],
[data-type~="HTMLAdvancedPasswordStrengthElement"][data-special="true"] [data-column-id="4"] {
	background-color:#20AF20;
	color:#FFF;
}