[data-type~="HTMLInlineRadioButtonGroupElement"] [data-type~="HTMLRadioButtonGroupItemElement"] {
	display:inline-block;
	margin-right:10px;
}

[data-type~="HTMLInlineRadioButtonGroupElement"] [data-type~="HTMLRadioButtonGroupItemElement"]:last-child {
	margin-right:0;
}